<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h1>About page</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, fugit beatae. Deserunt explicabo
                    corrupti
                    asperiores.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, fugit beatae. Deserunt explicabo
                    corrupti
                    asperiores.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, fugit beatae. Deserunt explicabo
                    corrupti
                    asperiores.</p>
            </div>
            <%- include("./partials/footer.ejs") %>

    </body>

</html>